.grid {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.cardcol  {
  display: inline-block!important;
  
  
}

.carddetail {
  margin-bottom: 10px;
}