.moviecard {
  word-wrap: break-word;
  overflow-wrap: break-word;
  position: relative;
  transition: all 0.4s linear;
  transform-style: preserve-3d;
  margin: 5px;
  margin-bottom: 80px;
}

.wholecard {
  display: inline-block;
  margin-bottom: 20px;
}

.card:hover {
  transform: scale(1.05);
  background-color: lightblue;
  /* box-shadow: 0 10px 20px rbga(253, 140, 200), 0 4px 8px rbga(253, 140, 200); */
}

.overviewcard {
  border: none !important;
  max-width: 55rem !important;
  margin: auto !important;
}

.overviewcard:hover {
  transform: none;
  box-shadow: none;
}

.reviews {
  text-align: center;
  flex-wrap: wrap;
}

/* .card {
  max-height: 500px!important;
  margin-right: 10px!important;
} */
